@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/inter/thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter/semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "Inter",
    sans-serif;
  letter-spacing: -2%;
  @apply bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
}

::selection {
  @apply bg-neutral-950 text-neutral-50 dark:bg-neutral-50 dark:text-neutral-950;
}

img {
  @apply select-none;
}

a:not(.exclude) {
  text-decoration-style: wavy;
  @apply underline decoration-neutral-300 dark:decoration-neutral-600;
}

.playing-container {
  @apply relative flex h-5 items-center;
}

.playing-container > * {
  @apply mr-0.5 h-1 w-[3px] rounded-sm bg-neutral-300;
}

@keyframes playing {
  0% {
    height: 3px;
  }

  50% {
    height: 12px;
  }

  to {
    height: 3px;
  }
}

html.skip-intro .animate-intro {
  animation: none !important;
  opacity: 1 !important;
  transform: none !important;
}
