@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "./components/**/*.astro";
@source "./pages/**/*.{astro,mdx}";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 500px;

  --shadow-marker: 0px 3px 7.5px rgba(0, 0, 0, 0.25);

  --animate-intro: intro 0.3s forwards ease-in-out;
  --animate-cloud: cloud 120s linear infinite;
  --animate-marker: marker 4s ease-out infinite;
  --animate-plane: plane 30s linear infinite;
  --animate-plane-shadow: plane-shadow 30s linear infinite;

  @keyframes intro {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes cloud {
    0% {
      transform: translate(-350px, -350px);
    }
    25% {
      transform: translate(350px, 350px);
    }
    50% {
      transform: translate(600px, -350px);
    }
    75% {
      transform: translate(-400px, 350px);
    }
    100% {
      transform: translate(-350px, -350px);
    }
  }

  @keyframes marker {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    35% {
      transform: translate(-50%, -50%) scale(6);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(6);
      opacity: 0;
    }
  }

  @keyframes plane {
    0% {
      transform: translate(50px, 350px) rotate(30deg);
    }
    40% {
      transform: translate(300px, -60px) rotate(30deg);
    }
    100% {
      transform: translate(300px, -60px) rotate(30deg);
    }
  }

  @keyframes plane-shadow {
    0% {
      transform: translate(50px, 410px) rotate(30deg);
    }
    40% {
      transform: translate(300px, -20px) rotate(30deg);
    }
    100% {
      transform: translate(300px, -20px) rotate(30deg);
    }
  }
}

@font-face {
  font-family: "Inter";
  src: url("/inter/thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter/semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      "Inter",
      sans-serif;
    letter-spacing: -2%;
    @apply bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
  }

  ::selection {
    @apply bg-neutral-950 text-neutral-50;
  }

  .dark ::selection {
    @apply bg-neutral-50 text-neutral-950;
  }

  img {
    @apply select-none;
  }

  a:not(.exclude) {
    text-decoration-style: wavy;
    @apply underline decoration-neutral-300 dark:decoration-neutral-600;
  }
}

@layer utilities {
  html.skip-intro .animate-intro {
    animation: none !important;
    opacity: 1 !important;
    transform: none !important;
  }
}

.prose h2 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose li {
  margin-top: 0;
  margin-bottom: 0;
}

.prose a {
  font-weight: 400;
}

.prose ol > li::marker {
  color: var(--tw-prose-body);
}
